.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    text-align: center;
}

.container h1 {
    text-align: center;
    font-family: Inter, -apple-system, sans-serif;
}

.container h2 a {
    color: #0070f3;
    font-family: Inter, -apple-system, sans-serif;
}